forecolor = #111
bgcolor   = #eee
border    = 5px

html
    width  : 100%
    height : 100%

body
    display:   flex
    flex-flow: row wrap

    margin:  0
    padding: 0

    background-color: bgcolor

    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif

pre
    color:            #1e1
    background-color: forecolor

    padding: 10px

    border-radius: border
    line-height:   1.5em

    overflow: auto

code
    font-family: Consolas, 'Liberation Mono', Menlo, 'Droid Sans Mono', Courier, monospace
    font-size:   14px

blockquote
    margin:      0
    padding:     15px

    color:       #777
    border-left: 4px solid #ddd

.focus
    padding:   3px
    font-size: 85%

    background: #000
    background: rgba(0,0,0,0.1)
    border-radius: border

.side
    display:   flex

    width:  250px

    background-color: forecolor
    color:            bgcolor

    a
        text-decoration: none
        color:           bgcolor

        &:hover
            border-radius: border
            transition:    background-color .5s ease

            color:            forecolor
            background-color: bgcolor

    nav
        display:        flex
        flex-flow:      row nowrap
        justify-content:flex-end

        span
            background-color: bgcolor

        a
            opacity: 0.1
            padding-left: 5px

            .weibo-share-icon
                background-image: url("../images/weibo-share-icon.png")
            .twitter-share-icon
                background-image: url("../images/twitter-share-icon.png")
            .facebook-share-icon
                background-image: url("../images/facebook-share-icon.png")
            .gplus-share-icon
                background-image: url("../images/gplus-share-icon.png")

            &:hover
                opacity:    1
                transition: opacity 1s ease
                color:            forecolor
                background-color: forecolor

    span
        display:       block
        width:         30px
        height:        @width
        border-radius: border

        background-repeat:   no-repeat
        background-position: center
        background-color:    bgcolor

    ul
        display:    flex
        flex-flow:  column nowrap

        position: fixed
        left:     0
        top:      0

        list-style: none
        padding:    20px
        width:      200px

        line-height:    2em
        text-align:     right
        text-transform: uppercase

        li:nth-child(5), li:nth-child(6)
            display:    none
            visibility: hidden

        li:nth-child(7)
            padding-top: 15px

        .title
            font-size:   20px
            font-weight: bold

        .subtitle
            font-size:      18px
            font-weight:    500

        .iconitem
            display:        flex
            flex-direction: row-reverse
            visibility:     visible

            padding-top: 10px

        .iconlink
            display:         flex
            justify-content: flex-end

            padding-left: 3px
            color:        forecolor

            .github
                background-image: url("../images/github.png")
            .download
                background-image: url("../images/download.png")

        .textitem
            display:        flex
            flex-direction: row-reverse

            font-size:   13px
            line-height: 1.9em

            .anchorlink
                width: 100%

                &:hover
                    padding-right: 5px

.main
    display:  flex
    flex-direction: column

    padding:  50px 30px 0 30px

    color:       forecolor
    font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', 'Droid Sans', Arial, freesans, sans-serif

    .title
        display:     flex
        flex-flow:   row wrap
        align-items: baseline

        height: 39px

        span
            padding-left: 10px

        h1
            margin:  0
            padding: 0

    a
        text-decoration: underline
        color:           forecolor

        &:hover
            color: #E60900

.footer
    display:         flex
    justify-content: flex-end

    margin-top: 30px
    padding:    30px 0 30px 0
    border-top: 1px solid forecolor

    font-size: 10px

@media (max-width: 1222px)
    .main
        zoom: 0.8

@media (max-width: 1037px)
    .main
        zoom: 0.7

@media (max-width: 989px)
    body
        flex-direction: column

    .side
        width: 100%
        ul
            width: 100%
            position:   static
            text-align: center

            .iconitem
                display:    none
                visibility: hidden

            li:nth-child(5), li:nth-child(6)
                display:    flex
                visibility: visible

            li:nth-child(7)
                padding-top: 0

        nav
            justify-content: center
            a
                opacity: 1
    .main
        zoom: 0.6

    .footer
        justify-content: center
