forecolor = #111
bgcolor   = #eee
fontcolor = rgba(0,0,0,0.7)
border    = 5px
blackcolor= #000

html
    width  : 100%
    height : 100%

body
    display:   flex
    flex-flow: row wrap

    margin:  0
    padding: 0

    background-color: bgcolor
    font-family:      'PingHei', 'PingFang SC', Helvetica Neue, 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif
    -webkit-font-smoothing: antialiased

    /*font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif*/

h2
    text-transform: capitalize

pre
    color:            #1e1
    background-color: forecolor

    padding: 10px

    border-radius: border
    line-height:   1.5em

    overflow: auto

code
    -webkit-font-smoothing: auto
    font-family: Consolas, 'Liberation Mono', Menlo, 'Droid Sans Mono', Courier, monospace
    font-size:   14px

blockquote
    margin:      0
    padding:     15px

    color:       #777
    border-left: 4px solid #ddd

    font-size:   12px

span, p
    font-size:   14px

.focus
    padding:   3px
    font-size: 85%

    color:      blackcolor
    color:      fontcolor
    background: blackcolor
    background: rgba(0,0,0,0.1)

    border-radius: border

.effect
    animation-name:     effect
    animation-duration: 1s

@keyframes effect
    0%
        opacity:   0
        transform: translateY(-20px)
    100%
        opacity:   1
        transform: translateY(0)

.side
    display:   flex

    width:  250px

    background-color: forecolor
    color:            bgcolor
    font-weight:      bold

    a
        text-decoration: none
        color:           bgcolor

        &:hover
            border-radius: border
            transition:    background-color .5s ease

            color:            forecolor
            background-color: bgcolor

    nav
        display:        flex
        flex-flow:      row nowrap
        justify-content:flex-end

        span
            background-color: bgcolor

        a
            opacity: 0.1
            padding-left: 5px

            .weibo-share-icon
                background-image: url("../images/weibo-share-icon.png")
            .twitter-share-icon
                background-image: url("../images/twitter-share-icon.png")
            .facebook-share-icon
                background-image: url("../images/facebook-share-icon.png")
            .gplus-share-icon
                background-image: url("../images/gplus-share-icon.png")

            &:hover
                opacity:    1
                transition: opacity 1s ease
                color:            forecolor
                background-color: forecolor

    span
        display:       block
        width:         30px
        height:        @width
        border-radius: border

        background-repeat:   no-repeat
        background-position: center
        background-color:    bgcolor

    ul
        display:    flex
        flex-flow:  column nowrap

        position: fixed
        left:     40px
        padding:  30px 0 0 0

        list-style: none

        line-height:    2em
        text-align:     right
        text-transform: uppercase

        li:nth-child(6), li:nth-child(7)
            display:    none
            visibility: hidden

        li:nth-child(8), li:last-child
            padding-top: 15px

        .title
            font-size:   20px
            font-weight: bold

        .subtitle
            font-size:      18px
            font-weight:    500

        .iconitem
            display:        flex
            flex-direction: row-reverse
            visibility:     visible

            padding-top: 10px

        .iconlink
            display:         flex
            justify-content: flex-end

            padding-left: 3px
            color:        forecolor

            .github
                background-image: url("../images/github.png")
            .download
                background-image: url("../images/download.png")

        .textitem
            display:        flex
            flex-direction: row-reverse

            font-size:   13px
            line-height: 1.9em

            .anchorlink
                width: 100%

                &:hover
                    padding-right: 5px

.main
    display:  flex
    flex-direction: column

    padding:  50px 30px 0 30px

    color:         blackcolor
    color:         fontcolor

    header
        height: 39px

        span
            &:nth-child(1)
                font-size:   25px
                font-weight: bold

    .badge
        padding-top:    5px
        padding-bottom: 10px

        a
            padding-right: 2px

    a
        text-decoration: underline
        color:           blackcolor
        color:           fontcolor
        font-size:       14px

        &:hover
            color: #E60900

    .desc span
        margin: 16px 0

    .defined
        li:nth-child(5), li:nth-child(6)
            list-style-type: circle
            margin-left:     20px

.footer
    display:         flex
    justify-content: flex-end

    margin-top: 30px
    padding:    30px 0 30px 0
    border-top: 1px solid forecolor

    font-size: 10px

@media (max-width: 1222px)
    .side
        zoom: 0.9
    .main
        zoom: 0.8

@media (max-width: 1051px)
    .side
        zoom: 0.9
    .main
        zoom: 0.6

@media (max-width: 1028px)
    body
        flex-direction: column

    p, li
        font-size: 12px

    blockquote, span
        font-size: 11px

    .focus
        padding:     3px 5px 3px 5px
        line-height: 1.2em

    .side
        width: 100%

        ul
            width: 100%
            position:   static
            padding:    0
            text-align: center

            .textitem
                justify-content: center

            .iconitem
                display:    none
                visibility: hidden

            li:nth-child(6), li:nth-child(7)
                display:    flex
                visibility: visible

            li:nth-child(8), li:last-child
                padding-top: 0

        nav
            justify-content: center
            a
                opacity: 1
    .main
        width:   100%
        padding: 50px 0 0 0

        div, header
            padding-left:  10px
            padding-right: 10px

        header
            padding-bottom: 20px
            span
                &:nth-child(1)
                    font-size: 2em
                &:nth-child(2)
                    font-size: 1.5em

        .desc
            font-size:   13px
            padding-top: 30px

    .footer
        justify-content: center
