html {
  width: 100%;
  height: 100%;
}
body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}
pre {
  color: #1e1;
  background-color: #111;
  padding: 10px;
  border-radius: 5px;
  line-height: 1.5em;
  overflow: auto;
}
code {
  font-family: Consolas, 'Liberation Mono', Menlo, 'Droid Sans Mono', Courier, monospace;
  font-size: 14px;
}
.focus {
  padding: 3px;
  font-size: 85%;
  background-color: rgba(0,0,0,0.1);
  border-radius: 3px;
}
.side {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  background-color: #111;
  color: #eee;
}
.side a {
  text-decoration: none;
  color: #eee;
}
.side a:hover {
  border-radius: 5px;
  transition: background-color 0.5s ease;
  color: #111;
  background-color: #eee;
}
.side ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: fixed;
  left: 0;
  top: 0;
  list-style: none;
  padding: 20px;
  width: 200px;
  line-height: 2em;
  text-align: right;
  text-transform: uppercase;
}
.side ul li:nth-child(5) {
  padding-top: 15px;
}
.side ul .title {
  font-size: 20px;
  font-weight: bold;
}
.side ul .subtitle {
  font-size: 18px;
  font-weight: 500;
}
.side ul .iconitem {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-top: 10px;
}
.side ul .iconlink {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 3px;
  color: #111;
}
.side ul .iconlink span {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eee;
}
.side ul .iconlink .github {
  background-image: url("../images/github.png");
}
.side ul .iconlink .download {
  background-image: url("../images/download.png");
}
.side ul .textitem {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-size: 13px;
  line-height: 1.9em;
}
.side ul .textitem .anchorlink {
  width: 100%;
}
.side ul .textitem .anchorlink:hover {
  padding-right: 5px;
}
.main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 30px;
  color: #111;
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', 'Droid Sans', Arial, freesans, sans-serif;
}
.main .title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  height: 39px;
}
.main .title span {
  padding-left: 10px;
}
.main .title h1 {
  margin: 0;
  padding: 0;
}
.main a {
  text-decoration: underline;
  color: #111;
}
.main a:hover {
  color: #e60900;
}
