html
    width  : 100%
    height : 100%

body
    width   : 100%
    height  : 100%
    margin  : 0
    padding : 0

    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif

    div
        display: flex

a
    text-decoration:  none
    color: #eee

    &:hover
        border-radius:    5px
        transition: background-color .5s ease

        color:            #111
        background-color: #eee

.side
    display:  flex
    flex-flow:row-reverse nowrap

    position: fixed
    left: 0
    top: 0

    height: 100%
    width: 300px

    background-color: #111
    color: #eee

    ul
        display:    flex
        flex-flow:  column nowrap

        list-style: none
        padding:    20px
        width:      200px

        line-height: 2em
        text-align:  right
        text-transform: uppercase

        li:nth-child(5)
            padding-top: 15px

        .title
            font-size:   20px
            font-weight: bold

        .subtitle
            font-size:      18px
            font-weight:    500

        .iconitem
            display:        flex
            flex-direction: row-reverse

            padding-top: 10px

        .iconlink
            display:        flex
            justify-content:flex-end

            padding-left: 3px
            color:        #111

            span
                display: block
                width:   32px
                height:  @width
                border-radius: 5px

                background-repeat: no-repeat
                background-position:center
                background-color: #eee

            .github
                background-image: url("../images/github.png")
            .download
                background-image: url("../images/download.png")

        .textitem
            display:        flex
            flex-direction: row-reverse

            font-size:   13px
            line-height: 1.9em

            .anchorlink
                width: 100%

                &:hover
                    padding-right: 5px
