body {
    -webkit-font-smoothing: antialiased;
}

.book .book-summary ul.summary {
    background-color: #111;
    text-transform: uppercase;
}

.book .book-summary ul.summary li a {
    color: #eee;
}
.book .book-summary ul.summary li a:hover {
    color: #5cb85c;
}
.book .book-summary ul.summary li.active>a {
    color: #111;
    transition: background-color 0.5s ease;
    background-color: #eee;
 }

.book .book-body,
.book .book-body .page-wrapper .page-inner section.normal {
    background-color: #eee;
    color: rgba(0,0,0,.7);
}

.book .book-body .page-wrapper .page-inner section.normal h1 {
    font-size: 1.8em;
}

.book.font-family-1 {
    font-family: 'PingHei', 'PingFang SC', Helvetica Neue, 'Work Sans', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
}

.book .book-body .page-wrapper .page-inner section.normal * {
    font-size: 14px;
}

.book .book-body .page-wrapper .page-inner section.normal pre {
  color: #1e1;
  background-color: #111;
  padding: 10px;
  border-radius: 5px;
  line-height: 1.5em;
  overflow: auto;
}

.book .book-body .page-wrapper .page-inner section.normal pre>code {
  -webkit-font-smoothing: auto;
  font-family: Consolas, 'Liberation Mono', Menlo, 'Droid Sans Mono', Courier, monospace;
  font-size: 14px;
}

.book .book-body .page-wrapper .page-inner section.normal code {
    padding: 3px;
    font-size: 85%;
    background: #000;
    background: rgba(0,0,0,.1);
    border-radius: 5px;
    font-family: Consolas, 'Liberation Mono', Menlo, 'Droid Sans Mono', Courier, monospace;
}

.book-body {
  -webkit-animation-name: effect;
          animation-name: effect;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes book-body {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes effect {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
